<body>
  <h1>Create User</h1>


  <form method="POST" action ="/signup">
    <p>Name: <input type="text" name="name" id="name"></p>
    <p>Username: <input type="text" name="username" id="username"></p>
    <p>Title: <input type="text" name="title" id="title"></p>
    <p>Password: <input type="text" name="password" id="password"></p>

    <input type ="submit" value = 'submit' id="submit">
  </form>
</body>
