<body>
  <h1>Add Item</h1>


  <form method="POST" action ="/items/add_item">
    <p>Name: <input type="text" name="name" id="name"></p>
    <p>Price: <input type="text" name="price" id="price"></p>
    <p>Description: <input type="text" name="description" id="description"></p>
    <input type ="submit" value = 'Add Item' id="submit">
  </form>

</body>
